<div class="background background--top"></div>
<div class="background background--bottom"></div>
<div class="main-view">
  <div class="profile-card profile-card__background">
    <img class="user-picture" src="../assets/image-victor.jpg" alt="user picture"/>
    <div class="user-info-container-container">
      <div class="user-info-container">
        <div class="name">{{name}}</div>
        <div class="age">{{age}}</div>
      </div>
      <div class="city">{{city}}</div>
    </div>
    <div class="social-info-container">
      <div class="followers-container">
        <div class="followers">{{followers}}</div>
        <p class="followers-label">Followers</p>
      </div>
      <div class="likes-container">
        <div class="likes">{{likes}}</div>
        <p class="likes-label">Likes</p>
      </div>
      <div class="photos-container">
        <div class="photos">{{followers}}</div>
        <p class="photos-label">Photos</p>
      </div>
    </div>
  </div>
</div>
