<div class="profile-card profile-card__background">
  <img class="profile-card__user-picture" src="../../assets/image-victor.jpg" alt="user picture"/>
  <div class="profile-card__user-info">
    <div class="profile-card__user-details">
      <div class="profile-card__user-name">{{name}}</div>
      <div class="profile-card__user-age">{{age}}</div>
    </div>
    <div class="profile-card__user-location">{{city}}</div>
  </div>
  <div class="profile-card__social-stats">
    <div class="profile-card__social-stat">
      <div class="profile-card__social-stat-value">{{followers}}</div>
      <p class="profile-card__social-stat-label">Followers</p>
    </div>
    <div class="profile-card__social-stat">
      <div class="profile-card__social-stat-value">{{likes}}</div>
      <p class="profile-card__social-stat-label">Likes</p>
    </div>
    <div class="profile-card__social-stat">
      <div class="profile-card__social-stat-value">{{photos}}</div>
      <p class="profile-card__social-stat-label">Photos</p>
    </div>
  </div>
</div>
