<article class="profile-card profile-card__background">
  <img class="profile-card__user-picture" src="../../assets/image-victor.jpg" alt="user picture"/>
  <header class="profile-card__user-info">
    <div class="profile-card__user-details">
      <div class="profile-card__user-name">{{name}}</div>
      <div class="profile-card__user-age">{{age}}</div>
    </div>
    <div class="profile-card__user-location">{{city}}</div>
  </header>
  <section class="profile-card__social-stats">
    <ul>
      <li class="profile-card__social-stat">
        <p class="profile-card__social-stat-value">{{followers}}</p>
        <p class="profile-card__social-stat-label">Followers</p>
      </li>
      <li class="profile-card__social-stat">
        <p class="profile-card__social-stat-value">{{likes}}</p>
        <p class="profile-card__social-stat-label">Likes</p>
      </li>
      <li class="profile-card__social-stat">
        <p class="profile-card__social-stat-value">{{photos}}</p>
        <p class="profile-card__social-stat-label">Photos</p>
      </li>
    </ul>
  </section>
</article>
